ACTION=="add", SUBSYSTEM=="eq3loop", KERNEL=="eq3loop", RUN+="/usr/share/maticcom/bin/device-add.sh eq3loop $major:$minor"
ACTION=="remove", SUBSYSTEM=="eq3loop", KERNEL=="eq3loop", RUN+="/usr/share/maticcom/bin/device-remove.sh eq3loop $major:$minor"
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="1b1f", ATTR{idProduct}=="c00f", RUN+="/usr/share/maticcom/bin/device-add.sh hm_usb_cfg $major:$minor"
ACTION=="remove", SUBSYSTEM=="usb", ATTR{idVendor}=="1b1f", ATTR{idProduct}=="c00f", RUN+="/usr/share/maticcom/bin/device-remove.sh hm_usb_cfg $major:$minor"
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="1b1f", ATTR{idProduct}=="c020", RUN+="/usr/share/maticcom/bin/device-add.sh hmip_rfusb $major:$minor"
ACTION=="remove", SUBSYSTEM=="usb", ATTR{idVendor}=="1b1f", ATTR{idProduct}=="c020", RUN+="/usr/share/maticcom/bin/device-remove.sh hmip_rfusb $major:$minor"
ACTION=="add", SUBSYSTEM=="eq3loop", KERNEL=="mmd_bidcos", RUN+="/usr/share/maticcom/bin/device-add.sh mmd_bidcos $major:$minor"
ACTION=="remove", SUBSYSTEM=="eq3loop", KERNEL=="mmd_bidcos", RUN+="/usr/share/maticcom/bin/device-remove.sh mmd_bidcos $major:$minor"
ACTION=="add", SUBSYSTEM=="eq3loop", KERNEL=="mmd_hmip", MODE="0666", RUN+="/usr/share/maticcom/bin/device-add.sh mmd_hmip $major:$minor"
ACTION=="remove", SUBSYSTEM=="eq3loop", KERNEL=="mmd_hmip", RUN+="/usr/share/maticcom/bin/device-remove.sh mmd_hmip $major:$minor"
ACTION=="add", SUBSYSTEM=="raw-uart", KERNEL=="raw-uart", RUN+="/usr/share/maticcom/bin/device-add.sh raw-uart $major:$minor"
ACTION=="remove", SUBSYSTEM=="raw-uart", KERNEL=="raw-uart", RUN+="/usr/share/maticcom/bin/device-remove.sh raw-uart $major:$minor"
ACTION=="add", SUBSYSTEM=="tty", ATTRS{idVendor}=="1b1f", ATTRS{idProduct}=="c020", RUN+="/usr/share/maticcom/bin/device-add.sh hmip_rfusb_tty $major:$minor"
ACTION=="remove", SUBSYSTEM=="tty", ATTRS{idVendor}=="1b1f", ATTRS{idProduct}=="c020", RUN+="/usr/share/maticcom/bin/device-remove.sh hmip_rfusb_tty $major:$minor"
